.page--home {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 10px;
  text-align: center;
  box-sizing: border-box;

  /* 모바일 화면 대응 */
  width: 100%;
  max-width: 560px; /* 최대 너비를 설정하여 PC에서 모바일처럼 보이게 함 */
  margin: 0 auto; /* PC 화면에서 중앙 정렬 */
  overflow-y: auto; /* 내용이 길어지면 스크롤 */
}
.page--home img {
  width: 100%;
  height: auto;
}

.title { margin: 0 0 8px; color: #c27b7f; font-size: 2rem; }
.sub { color: #555; margin-bottom: 24px; }
.cta button {
  padding: 12px 24px; border: 0; border-radius: 12px;
  background:#c27b7f; color:#fff; font-size:1rem; cursor:pointer;
}
.cta button:hover { background:#b0676c; }

.vertical-dots {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  line-height: 0.5;
}
.flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  gap: 10px;
}
.cta button:hover { background:#b0676c; }
